:root {
  --bs-primary: #00ccff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  color: #00bfff;
}

.btn-outline-secondary {
  --bs-btn-border-color: var(--bs-border-color);
}

.nav {
  gap: 0.75rem;

  .nav-link {
    transition: 200ms linear;

    &:hover:not(.active) {
      background-color: rgba(0, 191, 255, 0.25);
    }
  }
}

.nav-link.active {
  color: #000 !important;
  font-weight: 700;
}

.icon-link-hover {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
  --bs-icon-link-hover-color: var(--bs-primary);
}

.bi-chevron-down {
  transition: transform 0.3s ease;
}

.bi-chevron-down.rotate,
.nav-link[aria-expanded="true"] > .bi-chevron-down {
  transform: rotate(180deg);
}

.nav-link.menu ~ .submenu .nav-link::before {
  content: "●";
  margin-inline-end: 1rem;
}

.submenu .nav-link.active::before {
  color: darkorange;
  text-shadow: 0 0 5px darkorange;
}

.pagination {
  --bs-pagination-padding-x: 0.675rem;
  --bs-pagination-padding-y: 0.175rem;
  --bs-pagination-color: rgb(var(--bs-secondary-color-rgb));
}
