@model ProcurementHTE.Web.Models.ViewModels.ProcurementDocumentRowViewModel

@{
    var item = Model.Item;
}

<div class="d-flex gap-2 justify-content-end flex-wrap">
    @if (!item.Uploaded && item.IsUploadRequired && !item.IsGenerated)
    {
        @await Html.PartialAsync("_ProcurementDocumentUploadForm", Model)
    }

    @if (item.IsGenerated)
    {
        @await Html.PartialAsync("_ProcurementDocumentGenerateForm", Model)
    }

    @if (Model.IsUploaded && !string.IsNullOrEmpty(item.ProcDocumentId))
    {
        @await Html.PartialAsync("_ProcurementDocumentFileActions", Model)
    }

    @if (Model.IsPending && !string.IsNullOrEmpty(item.ProcDocumentId))
    {
        @await Html.PartialAsync("_ProcurementDocumentPendingActions", Model)
    }
</div>
