<section class="col-12" aria-labelledby="summary-section-title">
    <div class="card shadow-sm">
        <fieldset class="card-body">
            <legend class="card-title fw-semibold" id="summary-section-title">Interim Summary</legend>
            <hr />
            <div class="table-responsive border rounded-3">
                <table class="table align-middle mobile-table" id="summary">
                    <thead class="table-light">
                        <tr>
                            <th>Vendor</th>
                            <th class="text-end">Final Offer (&sum; min / item)</th>
                            <th class="text-end">Profit</th>
                            <th class="text-end">Profit %</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </fieldset>
    </div>
</section>
