@model ProcurementHTE.Web.Models.ViewModels.ProcurementRequiredDocsVm
@using ProcurementHTE.Web.Models.ViewModels

@{
    ViewData["Title"] = "Procurement Documents";

    var totalDocs = Model.Items?.Count() ?? 0;
    var requiredDocs = Model.Items?.Count(x => x.IsUploadRequired || x.IsGenerated) ?? 0;
    var generateDocs = Model.Items?.Count(x => x.IsGenerated) ?? 0;
    var approvalDocs = Model.Items?.Count(x => x.RequiresApproval) ?? 0;
    var mandatoryDocs = Model.Items?.Count(x => x.IsMandatory) ?? 0;
    var completedDocs = Model.Items?.Count(x => x.IsUploadRequired && x.Uploaded) ?? 0;

    var summaryStats = new ProcurementDocumentStatsViewModel
    {
        CompletedDocs = completedDocs,
        RemainingDocs = Math.Max(requiredDocs - completedDocs, 0),
        GeneratedDocs = generateDocs,
        MandatoryDocs = mandatoryDocs,
        ApprovalDocs = approvalDocs,
        TotalDocs = totalDocs
    };
}

<div class="container-fluid py-4">
    @await Html.PartialAsync("Partials/_ProcurementDocumentsHeader", Model)
    @await Html.PartialAsync("Partials/_ProcurementDocumentsSummaryCard", summaryStats)
    @await Html.PartialAsync("Partials/_ProcurementDocumentsRoundLetters", Model)
    @await Html.PartialAsync("Partials/_ProcurementDocumentsTable", Model)
</div>

@await Html.PartialAsync("Partials/_ProcurementDocumentsModals", Model)

@section Scripts {
    <script>
        window.procurementDocumentsConfig = {
            procurementId: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ProcurementId)),
            maxUploadSize: 10 * 1024 * 1024
        };
    </script>
    <script src="~/js/procurement-documents/core.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/preview-actions.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/upload-selection.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/upload-submit.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/qr.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/timeline-data.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/timeline-render.js" asp-append-version="true"></script>
    <script src="~/js/procurement-documents/boot.js" asp-append-version="true"></script>
}

@section HeadScripts {
    <link rel="stylesheet" href="~/css/procurement-documents.css" asp-append-version="true" />
}
