<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white shadow-sm mb-3">
  <div class="container-fluid">
    <button class="btn d-md-none border" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
      <i class="bi bi-arrow-bar-right"></i>
    </button>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse d-sm-flex justify-content-end">
      <ul class="navbar-nav gap-2">
        @if (User.Identity?.IsAuthenticated == true) {
          var fullName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
          var email = User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
          
          <li class="nav-item dropdown">
            <button type="button" class="btn btn-sm fs-4 dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" area-expanded="false"><i class="bi bi-person-circle"></i></button>

            <ul class="dropdown-menu dropdown-menu-start shadow" aria-labelledby="dropdownUser">
              <li><a asp-controller="Account" asp-action="Settings" class="dropdown-item">Profil &amp; Keamanan</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <form asp-action="Logout" asp-controller="Auth" method="post" class="">
                  <button type="submit" class="dropdown-item">Sign Out</button>
                </form>
              </li>
            </ul>
          </li>

          <div class="d-flex flex-column ms-2">
            <span>@fullName</span>
            <small class="text-muted">@email</small>
          </div>
        } else {
          <li class="nav-item"><a asp-controller="Auth" asp-action="Login" class="nav-link">Login</a></li>
        }
      </ul>
    </div>
  </div>
</nav>
