<aside class="bg-body-tertiary text-dark-emphasis d-flex flex-column align-items-start px-3 pt-4 border-end h-100 sticky-top">
  <div class="d-flex w-100 justify-content-between">
    <a asp-controller="Home" asp-action="Index" class="h4 text-decoration-none d-flex align-items-center pb-3 me-md-0 me-md-auto">Procurement HTE</a>
    <button type="button" class="btn-close d-md-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
  </div>

  <small class="text-muted opacity-75 ms-3 mb-2">Menu</small>

  <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 h-100">
    <li class="nav-item w-100">
      <a class="nav-link link-secondary rounded-1" asp-controller="Dashboard" asp-action="Index" data-page="Dashboard">
        <i class="bi bi-grid"></i> <span class="ms-1">Dashboard</span>
      </a>
    </li>

    @* Procurement Menu *@
    <li class="nav-item w-100">
      <a class="nav-link link-secondary rounded-1 d-flex justify-content-between align-items-center menu"
         data-bs-toggle="collapse"
         href="#procurementSubmenu"
         role="button"
         aria-expanded="false"
         aria-controls="procurementSubmenu">
        <div>
          <i class="bi bi-briefcase"></i>
          <span class="ms-1">Procurements</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </a>

      <div class="collapse submenu" id="procurementSubmenu">
        <ul class="list-unstyled fw-normal pb-1 small ps-4">
          <li>
            <a class="nav-link link-secondary rounded-1" asp-controller="WorkOrders" asp-action="Index" data-page="Index Work Orders">
              Work Orders
            </a>
          </li>
          @* <li>
            <a class="nav-link link-secondary rounded-1" asp-controller="Tenders" asp-action="Index" data-page="Tenders">
              Tenders
            </a>
          </li> *@
          <li>
            <a class="nav-link link-secondary rounded-1" asp-controller="Vendors" asp-action="Index" data-page="Vendors">
              Vendors
            </a>
          </li>
        </ul>
      </div>
    </li>

    @* Procurement Setting Menu *@
    <li class="nav-item w-100">
      <a class="nav-link link-secondary rounded-1 d-flex justify-content-between align-items-center menu"
         data-bs-toggle="collapse"
         href="#procurementSettingSubmenu"
         role="button"
         aria-expanded="false"
         aria-controls="procurementSettingSubmenu">
        <div>
          <i class="bi bi-gear-fill"></i>
          <span class="ms-1">Procurement Settings</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </a>

      @* Master Data Menu *@
      <div class="collapse submenu" id="procurementSettingSubmenu">
        <ul class="list-unstyled fw-normal pb-1 small ps-4">
          <li>
            <a class="nav-link link-secondary rounded-1 d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#masterDataSubmenu"
              role="button"
              aria-expanded="false"
              aria-controls="masterDataSubmenu">
              <span>Master Data</span>
              <i class="bi bi-chevron-down small ms-auto"></i>
            </a>

            <div class="collapse submenu" id="masterDataSubmenu">
              <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                <li>
                  <a class="nav-link link-secondary rounded-1" asp-controller="WoType" asp-action="Index" data-page="Index Work Order Types">
                    Work Order Types
                  </a>
                </li>
                <li>
                  <a class="nav-link link-secondary rounded-1" asp-controller="DocumentType" asp-action="Index" data-page="Index Document Types">
                    Document Types
                  </a>
                </li>
              </ul>
            </div>
          </li>

          @* Rules & Mapping Menu *@
          @* <li>
            <a class="nav-link link-secondary rounded-1 d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#rulesAndMappingSubmenu"
              role="button"
              aria-expanded="false"
              aria-controls="rulesAndMappingSubmenu">
              <span>Rules & Mapping</span>
              <i class="bi bi-chevron-down small ms-auto"></i>
            </a>

            <div class="collapse submenu" id="rulesAndMappingSubmenu">
              <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                <li>
                  <a class="nav-link link-secondary rounded-1" asp-controller="DocumentApprovals" asp-action="Index" data-page="Index Document Approvals">
                    Document Approvals
                  </a>
                </li>
                <li>
                  <a class="nav-link link-secondary rounded-1" asp-controller="WoTypeDocument" asp-action="Index" data-page="Index Wo Type Documents">
                    WO Type-Document Mapping
                  </a>
                </li>
              </ul>
            </div>
          </li> *@
        </ul>
      </div>
    </li>

    <li class="nav-item w-100">
      <a class="nav-link link-secondary rounded-1" asp-controller="Approvals" asp-action="Index" data-page="Documents">
        <i class="bi bi-file-earmark"></i> <span class="ms-1">Approval Documents</span>
      </a>
    </li>

    <hr class="mt-auto w-100" />

    <li class="nav-item w-100 pb-4">
      <a class="nav-link link-secondary rounded-1" data-page="Settings">
        <i class="bi bi-gear"></i> <span class="ms-1">Settings</span>
      </a>
    </li>

    @* <li class="nav-item w-100 pb-4">
      <a class="nav-link link-secondary rounded-1" asp-controller="Home" asp-action="Privacy" data-page="Privacy">
        <i class="bi bi-shield-check"></i> <span class="ms-1">Privacy</span>
      </a>
    </li> *@
  </ul>
</aside>
