@using ProcurementHTE.Core.Models
@model DocumentType

@{
    ViewData["Title"] = "Create Document Type Data";
}


<div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-2">
    <h1 class="h3 mb-0">Create Document Type</h1>
    <a asp-action="Index" class="btn btn-secondary" role="button"><i class="bi bi-arrow-left-circle"></i> Back to list</a>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <section class="card mb-3">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input type="text" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </section>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary"><i class="bi bi-check2-circle"></i> Submit</button>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
