@model PurchaseRequisitionDocumentRowViewModel

@if (Model.IsPending)
{
    <span class="badge rounded-pill bg-warning text-dark py-2 px-3"><i class="bi bi-hourglass-split"></i> Pending</span>
}
else if (Model.Document.Uploaded)
{
    <span class="badge rounded-pill bg-success bg-opacity-25 text-success py-2 px-3"><i class="bi bi-check-lg"></i> Uploaded</span>
}
else if (Model.Document.IsMandatory)
{
    <span class="badge rounded-pill bg-warning bg-opacity-25 text-warning-emphasis py-2 px-3"><i class="bi bi-exclamation-lg"></i> Required</span>
}
else
{
    <span class="badge rounded-pill bg-light text-dark border py-2 px-3">Optional</span>
}
