<form asp-action="UpdateAvatar" method="post" id="avatarForm" class="visually-hidden">
    <input type="hidden" name="ImageData" id="avatarImageData" />
    <input type="file" accept="image/*" id="avatarFile" />
</form>
