<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProcurementHTE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProcurementHTE.Web.styles.css" asp-append-version="true" />
    @* (Opsional) kalau butuh section khusus di <head> *@
    @* @RenderSection("HeadScripts", required: false) *@
</head>

<body class="mb-0 min-vh-100" data-active-page="@ViewBag.ActivePage">
    <div class="row g-0">
        <div class="col-auto col-md-3 col-xl-2">
            <partial name="Partials/_Sidebar" />
        </div>

        <div class="col position-relative">
            <header>
                <partial name="Partials/_Navbar" />
            </header>

            <div class="container-fluid gx-8">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2025 - ProcurementHTE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* SweetAlert global: mesti sebelum section Scripts biar bisa dipakai halaman *@
    @await Html.PartialAsync("_SweetAlerts")

    @* Render section Scripts HANYA SEKALI di akhir body *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
