@model ProcurementHTE.Core.Models.WorkOrder
@using ProcurementHTE.Core.Models
@{
    var procTypes = (Array)ViewData["EnumProcurementTypes"];
}
<div class="row g-3">
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger small"></div>
    </div>

    <div class="col-12 col-md-6">
        <label asp-for="ProcurementType" class="form-label">Tipe Pengadaan</label>
        <select asp-for="ProcurementType" class="form-select">
            <option value="">-- pilih --</option>
            @foreach(var v in procTypes)
            {
                <option value="@v">@v</option>
            }
        </select>
        <span asp-validation-for="ProcurementType" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Description" class="form-label">Deskripsi</label>
        <textarea asp-for="Description" rows="3" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger small"></span>
    </div>
</div>
