@model ProcurementHTE.Web.Models.ViewModels.WorkOrderCreateViewModel

<div class="row g-3 mt-1">
    <div class="col-12">
        <label asp-for="WorkOrder.Note" class="form-label"></label>
        <input asp-for="WorkOrder.Note" class="form-control" />
        <span asp-validation-for="WorkOrder.Note" class="text-danger small"></span>
    </div>
</div>

<div class="mt-4 d-flex gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createWoModal">Simpan WO Other</button>
    <a class="btn btn-secondary" asp-action="SelectType" role="button">Kembali</a>
</div>

@* Modal *@
<div class="modal fade" id="createWoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createWoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createWoModalLabel">Create Work Order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah Anda ingin menambahkan Work Order baru? atau menyimpannya sebagai draft</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="submitAction" value="Draft">Save</button>
                <button type="submit" class="btn btn-success" name="submitAction" value="Created">Create</button>
            </div>
        </div>
    </div>
</div>
