@model ProcurementHTE.Web.Models.ViewModels.WorkOrderCreateViewModel

<section class="card shadow-sm mb-3">
    <fieldset class="card-body">
        <legend class="card-title fw-semibold">Description</legend>
        <hr />
        <div class="row">
            <div class="col-12">
                <label asp-for="WorkOrder.Note" class="form-label"></label>
                <textarea asp-for="WorkOrder.Note" class="form-control" maxlength="200" rows="3"></textarea>
                <span asp-validation-for="WorkOrder.Note" class="text-danger small"></span>
            </div>
        </div>
    </fieldset>
</section>

<div class="mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createWoModal"><i class="bi bi-check2-circle"></i> Save WO Other</button>
    <a class="btn btn-secondary" asp-action="SelectType" role="button"><i class="bi bi-arrow-left-circle"></i> Back</a>
</div>

@* Modal *@
<div class="modal fade" id="createWoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createWoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createWoModalLabel">Create Work Order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah Anda ingin menambahkan Work Order baru? atau menyimpannya sebagai draft</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="submitAction" value="Draft">Save/Draft</button>
                <button type="submit" class="btn btn-success" name="submitAction" value="Created">Create</button>
            </div>
        </div>
    </div>
</div>
