<aside class="bg-body-tertiary text-dark-emphasis d-flex flex-column align-items-center align-items-sm-start px-3 pt-4 border-end min-vh-100 h-100">
  <a asp-controller="Home" asp-action="Index" class="h4 text-decoration-none d-flex align-items-center pb-3 me-md-0 me-md-auto">Project_25_07</a>

  <small class="text-muted opacity-75 ms-3 mb-2">Menu</small>

  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 h-100" id="pills-tab" role="tablist" aria-orientation="vertical">
    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="Dashboard">
        <i class="bi bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
    </li>
    
    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" data-page="Index Home">
        <i class="bi bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-list-check"></i> <span class="ms-1 d-none d-sm-inline">Work Orders</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-briefcase"></i> <span class="ms-1 d-none d-sm-inline">Tenders</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-file-earmark"></i> <span class="ms-1 d-none d-sm-inline">Documents</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-file-earmark-person"></i> <span class="ms-1 d-none d-sm-inline">Vendors</span>
      </a>
    </li>
    
    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-activity"></i> <span class="ms-1 d-none d-sm-inline">Monitoring</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-graph-up"></i> <span class="ms-1 d-none d-sm-inline">Analytics</span>
      </a>
    </li>

    <li class="mt-auto w-100"><hr class="text-dark-50"></li>

    <li class="nav-item w-100">
      <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" data-page="">
        <i class="bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Settings</span>
      </a>
    </li>

    <li class="nav-item w-100 pb-4">
      <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" data-page="Privacy">
        <i class="bi bi-shield-check"></i> <span class="ms-1 d-none d-sm-inline">Privacy</span>
      </a>
    </li>
  </ul>
</aside>