@using ProcurementHTE.Core.Enums
@model ProcurementHTE.Core.Models.ViewModels.LoginWith2faViewModel
@{
    ViewData["Title"] = "Verifikasi Two-Factor";
    Layout = "_AuthenticationLayout";
}

<div class="d-flex justify-content-center">
    <div class="card p-4 shadow-sm" style="width: 500px">
        @await Html.PartialAsync("Partials/_Login2faHeader", Model)

        <div class="card-body">
            @await Html.PartialAsync("Partials/_Login2faPendingVerification", Model)
            @await Html.PartialAsync("Partials/_Login2faForm", Model)
            @await Html.PartialAsync("Partials/_Login2faFooter", Model)
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @await Html.PartialAsync("Partials/_Login2faScripts", Model)
}
