@model ProcurementCreateViewModel

<header class="hstack justify-content-between mb-3">
    <div>
        <h2 class="mb-1">@ViewData["Title"]</h2>
    </div>
    <a class="btn btn-outline-secondary" asp-action="Index" role="button">
        <i class="bi bi-arrow-left"></i> Back
    </a>
</header>
